*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font: menu;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.Root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px;
}

.Root.is-dragging {
  cursor: nwse-resize;
}

.GridContainer {
  position: relative;
}

.Grid {
  table-layout: fixed;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.Grid td {
  padding: 0;
}

.Cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  border-radius: 0;
  background: #fcfcfc;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  position: relative;
}

.Cell--emoji {
  font-weight: normal;
}

.Cell--unrevealed {
  background-color: #eee;
}

.Cell--revealedMine {
  background-color: #ff0000;
}

.Cell-overlay {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
}

.Sizer {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid currentColor;
  color: #eee;
  overflow: hidden;
  transition-property: color, border-color;
  transition-duration: 200ms;
}

.Root:not(.is-dragging) .Sizer {
  transition-property: width, height;
  transition-duration: 400ms;
}

.Root.is-dragging .Sizer {
  z-index: 4;
}

.Sizer-dimensions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em 1em;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.Sizer-button {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%) rotate(45deg);
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: none;
  background-image:
    repeating-linear-gradient(
      to right,
      currentColor,
      currentColor 8.33%,
      transparent 0,
      transparent 16.66%
    );
  color: inherit;
  cursor: nwse-resize;
  transition-property: color;
  transition-duration: 200ms;
}

.Root.is-dragging .Sizer,
.Sizer-button:hover,
.Sizer-button:focus,
.Sizer-button:active {
  color: black;
  outline: none;
}

.MinesInfo {
  position: relative;
  z-index: 3;
  top: 1px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.MinesInfo-input {
  border-radius: 0;
  text-align: inherit;
  font-weight: inherit;
  transition: border-color 200ms;
}

.MinesInfo-input,
.MinesInfo-text {
  border: 1px solid #eee;
  padding: 0.33em;
}

.MinesInfo-text {
  border-color: transparent;
}

.MinesInfo-text--emoji {
  font-weight: normal;
  transform: scale(2);
}

.MinesInfo-input:hover,
.MinesInfo-input:focus,
.MinesInfo-input:active {
  border-color: black;
  outline: none;
}

.BottomButton {
  margin: 0;
  margin-top: 1em;
  padding: 0.33em 1em;
  border-radius: 0;
  border: none;
  background: #eee;
}
