*, *:before, *:after {
  box-sizing: border-box;
}

html {
  --g-grey-leia: #f6f6f6;
  --g-grey-wampa: #f1f1f1;
  --g-grey-luke: #ececec;
  --g-grey-lando: #a1a1a1;
  --g-white: white;
  --g-black: black;
  --g-blue: #0000ff;
  --g-red: #ff0000;

  background: var(--g-grey-leia);
  color: var(--g-black);
  font: menu;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--g-black);
}

.Root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.GridContainer {
  position: relative;
}

.GridContainer-tooltip {
  position: absolute;
  z-index: 1;
  margin-left: 2px;
  padding: 0.3em 0.5em;
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--g-white);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0ms;
}

.GridContainer-tooltip.is-visible {
  opacity: 1;
  transition-delay: 200ms;
}

.Grid {
  table-layout: fixed;
  border-spacing: 0;
  border: 1px solid var(--g-grey-lando);
  padding: 1px;
  background-color: var(--g-white);
  cursor: default;
  overflow: hidden;
}

.Grid:focus {
  outline: none;
  border-color: var(--g-blue);
}

.Grid:focus-within {
  border-color: var(--g-blue);
}

.Grid td {
  width: 1em;
  height: 1em;
  padding: 0;
}

.Cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1px;
  border: none;
  border-radius: 0;
  background: none;
  background-clip: content-box;
  font-weight: normal;
  font-size: 0.7em;
  line-height: 1;
  text-align: center;
  vertical-align: top;
  position: relative;
}

.Cell:hover,
.Cell:focus,
.Cell:active {
  outline: none;
}

.Cell.is-selected::before,
.Cell.is-selected::after {
  --d: 0;

  content: "";
  position: absolute;
  z-index: 1;
  top: var(--d);
  bottom: var(--d);
  left: var(--d);
  right: var(--d);
  border: 1px solid var(--g-blue);
  border-radius: 50%;
  pointer-events: none;
}

.Cell.is-selected::after {
  --d: calc(-100% + 1px);

  opacity: 0.25;
}

button.Cell--unrevealed:active {
  background-color: var(--g-grey-wampa);
}

.Cell--unrevealed {
  background-color: var(--g-grey-luke);
}

.Cell--revealedMine {
  text-shadow: 0 0 0.5em var(--g-red);
}

.Cell-overlayContainer {
  align-self: flex-end;
  margin-left: auto;
}

.Cell-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.Controls {
  padding-bottom: 0.2em;
}

.Controls-inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  font-size: 0.7em;
  line-height: 1;
}

.Controls-inner > * {
  display: flex;
}

.Controls-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.MultiplicationSign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
}

.Button {
  margin: 0;
  padding: 0.1em 1em;
  border: 1px solid var(--g-grey-lando);
  border-radius: 0;
  background: var(--g-grey-luke);
  box-shadow: inset 0 0 0 2px var(--g-white);
}

.Button:hover,
.Button:focus,
.Button:active {
  outline: none;
  border-color: var(--g-blue);
}

.Button--muted {
  font-size: 0.5em;
}

.Button--muted:not(:hover):not(:focus):not(:active) {
  background: none;
}

.Select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.1em;
  padding-right: 0.9em;
  border: 1px solid var(--g-grey-lando);
  border-radius: 0;
  background: var(--g-white);
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020.52%2010.88%22%3E%3Cpolygon%20points%3D%2220.52%202.31%2018.59%200%2010.26%206.97%201.93%200%200%202.31%2010.26%2010.88%2010.26%2010.88%2010.26%2010.88%2020.52%202.31%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E');
  background-size: auto 0.25em;
  background-position: right 0.25em center;
  background-repeat: no-repeat;
  text-align: right;
  text-align-last: right;
  /*font-weight: bold;*/
}

.Select:hover,
.Select:focus,
.Select:active {
  border-color: var(--g-blue);
}

.InputWithIcon {
  display: flex;
  margin: 0;
  padding: 0.1em;
  border: 1px solid var(--g-grey-lando);
  background: var(--g-white);
  cursor: text;
}

.InputWithIcon:hover,
.InputWithIcon:focus-within {
  border-color: var(--g-blue);
}

.InputWithIcon-input {
  margin: 0;
  margin-right: 0.1em;
  padding: 0;
  border: none;
  background: none;
  text-align: right;
  font-weight: bold;
}

.InputWithIcon-input:hover,
.InputWithIcon-input:focus,
.InputWithIcon-input:active {
  outline: none;
}

.InputWithIcon-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextWithIcon {
  display: flex;
  padding: calc(0.1em + 1px);
}

.TextWithIcon-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextWithIcon-text {
  margin-right: 0.1em;
  font-weight: bold;
  text-align: right;
}
